<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>UPG Chatbot Licenta</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </head>

  <body style="height: 60vh;">

    <!-- Begin page content -->
    <main role="main" class="container mh-100 h-100">
      <h1 class="mt-5">UPG Chatbot</h1>
      <p class="lead"> Vorbeste cu un chatbot !</p>
      <div class="container h-100 mh-100">
        <div class="row bg-light h-100 mh-100" style="overflow-y:scroll;">
          <ul id="messages">
          </ul>
        </div>
        <div class="row bg-primary h-25">
          <input type="text" id="chat" class="form-input w-100">
          <button id="sendMsg" class="btn btn-block btn-info btn-ghost"> Send </button>
        </div>
      </div>
    </main>
    <script>
      $("#sendMsg").on("click", function() {
        $("#messages").append(`<li>You: ${$("#chat").val()} </li>`);
        $.ajax({
            url: `http://upgbot2.herokuapp.com/chatbot?message=${$("#chat").val()}`,
            type: "GET",
            crossDomain: true,
            success: function (response) {
              
                $("#messages").append(`<li>Chatbot: ${response.chatbot} </li>`);
            },
            error: function (xhr, status) {
                alert("error");
            }
        });
      })
    </script>
  </body>
</html>